/* footer.css */

.footer {
 
  background: linear-gradient(#0b1626, #091d3c, #040f21);
 
  color: #faa61a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex-direction: column;
}

.footer h5 {
  color: #fff;
  font-weight: bold;
}

.footer p {
  color: #fff;
}

.footer-section {
  margin-bottom: 5px;
}

/* Additional styles for footer links if needed */
.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Center content in the last column */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style for the Facebook icon */
.facebook-icon {
  color: #fff;
  margin-top: 10px;
}
