/* App.css */
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);

* {
  text-align: right;
  direction: rtl;
}

/* Centered content */
.centered-content {
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card styles */
.centered-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: #011c44; /* Card background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Card shadow */
}

/* Backlit effect on the background */
.bg-container {
  position: relative;
  background: linear-gradient(#0b1626, #091d3c, #040f21);
  height: 100vh;
}
/* Backlit effect on the background */
.bg-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/patr.png');
  background-repeat: repeat;
  background-size: auto;
  opacity: .2; /* Adjust the opacity as desired */
}
.btn-login-auth{

    width:120px


}
.btn-register-auth{

  width: 130px;

}
.btn-group {
  margin-right: 47px;
    display: inherit;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* CSS في ملف app.css أو في جزء الأنماط الخاص بك */

.logo {
  /* خاصية box-shadow لإضافة ظل للشعار */
  box-shadow: 0 0 25px #faa61a, /* ظل فاتح */
              0 10px 20px #faa61a; /* ظل داكن */

  border-radius: 90px; 

  
}





.hline {
  height: 1px;
  width: 100%;
  background: rgba(100, 100, 200, 0.5);
  margin-top: 5px;
  /*border-top: 1px solid rgba(200,200,200,0.2);*/
}

body {
  font-family: 'ArabicFont', Arial, sans-serif;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.welcome-page-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

/* Form styles */
.form-icon {
  margin-right: 0.5rem;
  color : #faa61a;
}
.container {
  margin: 50px auto;
  width: 80%;
}

.carousel-item {
  text-align: center;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

h1, p {
  color: white;
}
@media (max-width: 768px) {
  /* Adjust styles for mobile */
}
/* Adjust the font styles and other elements as needed */

  .login-btn {
    background-color: var(--success-color);
    border-color: #adb83a;
    BACKGROUND: #faa61a;
}

.card-title-login-form {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: #faa61a;
  font-family: 'ArabicFont', Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
    font-weight: bold;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'ArabicFont', Arial, sans-serif;
  margin-bottom: 20px;
  background: linear-gradient(#0b1626, #031e49, #040f21);
  color: rgb(206, 195, 0);
  font-size: 1.5rem;
}

.court-setting-card-header .welcome-page-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.login-btn:hover {
  background-color: #218838;
  border-color: #e2df0b;
}

.login-back {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}



.login-back {
  background-color: crimson;
  border-color: #b9c236;

}

/* Auth form styles */
.card-header-auth{
  box-shadow: 0 0 5px #faa61a, /* ظل فاتح */
              0 5px 10px #faa61a; /* ظل داكن */

margin: 0 auto;
            }

.auth-form-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: #051f42;
  box-shadow: 0 0 15px #faa61a, /* ظل فاتح */
              0 10px 10px #faa61a; /* ظل داكن */

              
  background-image: url('./images/bg-pattern.png'); 
}

/* Form label styles */
.auth-form-card label {
  color: #fff; /* Set text color to white */
}

/* Form input styles */
.auth-form-card input {
  background-color: transparent;
  color: #fff; /* Set text color to white */
  border-color: #fff; /* Set border color to white */
}

/* Form input focus styles */
.auth-form-card input:focus {
  box-shadow: 0 0 5px #fff; /* Add white shadow when the input is focused */
  outline: none;
}
/* Custom styles for the login button */
/* Custom styles for the login button */
.ice-btn {
  background-color: #f0f5f9; /* Ice color for background */
  color: #218838; /* Green color for text */
  border-color: #c3e6cb; /* Light green color for border */
}

.ice-btn:hover {
  background-color: #ebf9f1; /* Light green background on hover */
  border-color: #a5d6a7; /* Darker green border on hover */
}

/* Custom styles for the "Back to Home" button */
.back-to-home-btn {
  background-color: red; /* Red color for background */
  color: white; /* White color for text */
  border-color: red; /* Red color for border */
}


/* Remove hover effect for the "Back to Home" button */
.back-to-home-btn:hover {
  background-color: red; /* Maintain red background on hover */
  border-color: red; /* Maintain red border on hover */
}

/* Error message styles */
.auth-form-card .text-danger {
  color: #fff; /* Set error message text color to white */
}

/* Center the form on small screens */
@media (max-width: 768px) {
  .auth-form-card {
    max-width: 100%;
  }
}

/* Guest interface styles */
.guest-container {
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  /* Add more styles as needed */
}

/* Authenticated interface styles */
.auth-container {
  padding: 20px;
  background-color: #f8f9fa;
  /* Add more styles as needed */
}

.rtl {
  direction: rtl;
}

/* Home */
.big-font-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as per your requirement */
  background: linear-gradient(#092247, #092247, #092247);
}

.big-font {
  font-size: 2rem; /* Adjust the font size as per your requirement */
  font-weight: bold;
  color: #ff9800;
}
